.house-1 {
    background-color: #aae4e4;
}
.house-2 {
    background-color: #b7aae4;
}
.house-3 {
    background-color: #e4aadc;
}
.house-4 {
    background-color: #48a8e9;
}
.house-5 {
    background-color: #c22dae;
}
