<!DOCTYPE html>
<html>
<head>
    <title>Housepoints: Successfully Added</title>
</head>
<body>
    Thank you for adding a character! I appreciate your feedback <br><br>
    
    <a href="https://user.tjhsst.edu/2023awang/" >Click here to go back</a>
    <br><br>
    
</body>
</html>
