<! DOCTYPE html>
<html>
<head>
    <title>Number Facts</title>
</head>
<body>
    <h1>Welcome to the number fact page</h1>
    
    <div>
        <p>Are you looking for page {{value}} ?</p>
        
        <ul>
            {{#each facts}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    
</body>
</html>