<!DOCTYPE html>
<html>
<head>
	<title>Cookie Clicker Login</title>
</head>
<body>


<h2>Please enter your name to login</h2>

<form action="./loginsubmit" method="get">
	<label for="id_name">Name</label>
	<input type="text" id="id_name" name="f_name" placeholder="Name"><br>
	
	<button type="submit" value="login">Login</button>
</form> 



</body>
</html>