<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
</head>
<body>


<h2>MadLib Form</h2>

<form action="./madlibresults" method="get">
	<label for="id_name">What is your first name?</label>
	<input type="text" id="id_name" name="f_name" placeholder="Your Name"><br><br>
	
	<label for="id_color">What is your favorite color?</label>
	<input type="text" id="id_color" name="f_color" placeholder="rainbow"><br><br>
	
	<label for="id_person">Who is your favorite person?</label>
	<input type="text" id="id_person" name="f_person" placeholder="me"><br><br>
	
	<label for="id_school">What school do you go to?</label>
	<input type="text" id="id_school" name="f_school" placeholder="TJHSST"><br><br>
	
	<label for="id_place">Where would you like to live in the future?</label>
	<select id="id_place" name="f_place">
          <option value="L.A.">L.A.</option>
          <option value="NYC">NYC</option>
          <option value="Chicago">Chicago</option>
          <option value="Washington D.C.">Washington D.C.</option>
          <option value = "Miami">Miami</option>
    </select><br>
	
	<label for="id_pet">Which animal do you like the most?</label>
	<select id="id_pet" name="f_pet">
          <option value="dog">dog</option>
          <option value="cat">cat</option>
          <option value="duck">duck</option>
    </select><br>
    
    <label for="id_alive">Are you alive?</label>
    <div>
        <input type= 'checkbox' id="id_alive" name="f_alive">
        <label for="yes">yes</label>
    </div>
	
	<button type="submit" value="Submit">Submit</button>
</form> 

<ul>
	<li>the "action" attribute of the form is the destination of the form</li>
	<li>the "method" attribute of the form specifies how key/value pairs will be sent to the server. GET sends parameters in the url. POST is a more secure transmission of info.</li>
	<li>the "for" attribute of a label must match the id of its associated input</li>
	<li>the "name" attribute of a becomes the key of the key-value pair sent to the server</li>
	<li>it's preferential to use a button (tag) of type=submit instead of a submit (tag), as submit tags are not stylable</li>
</ul>

</body>
</html>