<!DOCTYPE html>
<html>
<head>
    <title>The HOME page</title>
</head>
<body>
    <p>
        Welcome to {{nickname}}'s home page!
    </p>
    
    <h3>Update the count</h3>
    
    <button type='button' onclick='increment_and_update()'>CLICK ME</button>
    
    <p id="name_display"></p>
    
    <p id="click_display"></p>
    
    
    <a href="https://user.tjhsst.edu/2023awang/login" >Click here to login</a>
    <br>
    <a href="https://user.tjhsst.edu/2023awang/logout" >Click here to logout</a>
    
    <script type="text/javascript" src="./js/set_cookie.js"></script>
</body>
</html>