<!DOCTYPE html>
<html>
<head>
    <title>The Housepoints Mainpage</title>
</head>
<body>
    <p>
        Welcome to the housepoints mainpage! Feel free to explore :)
    </p>
    
    <script>
    function visitPage(){
        window.location='http://user.tjhsst.edu/2023awang/addcharacter';
    }
</script>

<script>
    function visitPage1(){
        window.location='http://user.tjhsst.edu/2023awang/userdisplay';
    }
</script>

<button onclick="visitPage();">Add a character HERE</button> <br><br>

<button onclick="visitPage1();">See all the users HERE</button> <br><br>
    
    <script>
    function visitPage2(){
        window.location='http://user.tjhsst.edu/2023awang/userpoints';
    }
</script>

<button onclick="visitPage2();">See your distribution of points HERE</button> <br><br>

<script>
    function visitPage3(){
        window.location='http://user.tjhsst.edu/2023awang/addpoints';
    }
</script>

<button onclick="visitPage3();">Add points to different characters HERE</button> <br><br>
    
    <a href="https://user.tjhsst.edu/2023awang/login" >Login to add points to individuals</a>
    <br><br>
    <a href="https://user.tjhsst.edu/2023awang/logout" >Click here to logout</a> <br><br>
</body>
</html>