<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./css/modals.css">
    </head>
<body>

<!-- The Modal -->
<div id="loginModal" class="modal" style="display: {{open_login_modal}}">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>
      Please visit this page to login with ion:<br>
      <a href="{{login_link}}">
          Click here to log-in
      </a>
      </p>
  </div>

</div>

<a href="https://user.tjhsst.edu/2023awang/madlib" >Click here to access the Madlib Form!</a>
<br><br>
<a href="https://user.tjhsst.edu/2023awang/getWeather" >Click here to access the Weather Form!</a>
<br><br>
<a href="https://user.tjhsst.edu/2023awang/voteForm" >Click here to access the Voting Form!</a>
<br><br>
<a href="https://user.tjhsst.edu/2023awang/count" >Click here to access the Cookie Clicker!</a>
<br><br>
<a href="https://user.tjhsst.edu/2023awang/profile" >Click here to access your profile!</a>
<br><br>
<a href="https://user.tjhsst.edu/2023awang/userhousesum" >Click here to access House Points!</a>


<script type="text/javascript" src="./js/modals.js"></script>
</body>
</html>