<!DOCTYPE html>
<html>
<head>
    <title>Timer</title>
</head>
<body>
    <p>Hi</p>
    <p id="stopwatch">00:00</p>
    
<button onclick="startTimer()">Start Stopwatch</button>
<button onclick="stopTimer()">Stop Stopwatch</button>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

<script type="text/javascript" src="js/testing.js"></script>
</body>
</html>