<!DOCTYPE html>
<html>
   <head>
       <title>Unverified Page</title>
    </head›
   <body>
      <p>
      Please visit this page to login with ion:<br>
      <a href="{{login_link}}">
          Click here to log-in~
      </a>
      </p>
   </body>
</html>