<!DOCTYPE html>
<html>
<head>
	<title>Weahter Form</title>
</head>
<body>


<h2>Please enter a location to find weather forecast:</h2>
Example: 38.8182, -77.1685 TJHSST
<form action="./weatherresults" method="get">
	<label for="id_lat">Latitude</label>
	<input type="text" id="id_lat" name="f_lat" placeholder="Latitude"><br><br>
	
	<label for="id_long">Longitude</label>
	<input type="text" id="id_long" name="f_long" placeholder="Longitude"><br><br>
	
	
	
	<button type="submit" value="Find Weather Forecast">Submit</button>
</form> 



</body>
</html>